.contact {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.7rem;
  font-weight: 300;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.contact-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.contact-item {
  min-width: 360px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
  border-radius: 10px;
  padding: 2rem 20px;
}

.contact-item .icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.contact-info h1 {
  font-weight: 500;
  padding: 10px 0;
}

.contact-info h2 {
  font-weight: 400;
  font-size: 12px;
  max-width: 150px;
  margin: auto;
}
